<fourcast-main-layout appName="4CastPro Sub-Contractor">
  <a
    mat-raised-button
    routerLink="subcontractor-feature-dashboard"
    routerLinkActive="active"
    >Dashboard</a
  >
  <a
    mat-raised-button
    routerLink="subcontractor-feature-contracts"
    routerLinkActive="active"
    >Subcontracts</a
  >
   <a
    mat-raised-button
    routerLink="companies"
    routerLinkActive="active"
    >Companies</a
  >
  <a mat-raised-button routerLink="TODO" routerLinkActive="active" disabled
    >Settings</a
  >
  <fourcast-toolbar-user></fourcast-toolbar-user>
</fourcast-main-layout>
