/* You can add global styles to this file, and also import other style files */

.flex-row {
  display: flex;
  flex-direction: row;

}

.flex-end {
  justify-content: flex-end;
}

.flex-col {
  flex: 1;
  margin-right: 20px;
}

.flex-col-0 {
  flex: 1;
  margin-right: 20px;
  flex-grow: 0;
}

.flex-col:last-child {
  margin-right: 0;
}
.w200 {
  max-width: 200px;
}

.full-width {
  width: 100%;
}

h2 {
  font-size: 18px;
  text-transform: capitalize;
  color: var(--primary);
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 400;
  background-color: rgba(43,173,227,1);
  color: white;
}

.mat-cell {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

tr.mat-row.cdk-row {
  height: 32px;
}

tr.mat-header-row.cdk-header-row {
  height:40px;
}

.mat-row:nth-child(even){
    background-color: #eee;
}
