/* You can add global styles to this file, and also import other style files */


.flex-row {
  display: flex;
  flex-direction: row;

}

.flex-end {
  justify-content: flex-end;
}

.flex-col {
  flex: 1;
  margin-right: 20px;
}

.flex-col-0 {
  flex: 1;
  margin-right: 20px;
  flex-grow: 0;
}

.flex-col:last-child {
  margin-right: 0;
}
.w200 {
  max-width: 200px;
}

.full-width {
  width: 95vw;
  margin:auto
}

h2 {
  font-size: 18px;
  text-transform: capitalize;
  color: var(--primary);
}

.mat-header-cell {
  font-size: 14px;
  font-weight: 400;
  background-color: rgba(43,173,227,1);
  color: white;
}

.mat-cell {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}

tr.mat-row.cdk-row {
  height: 32px;
}

tr.mat-header-row.cdk-header-row {
  height:40px;
}

.mat-row:nth-child(even){
    background-color: #eee;
}

table.mat-table.cdk-table.full-width-table{
  width: 100%;
}

/*
**Active tab label colour changes:**
**/


.mat-tab-label-active
{
    color: white !important;
}

/**To remove the border for the tabs:**/

.remove-border-bottom .mat-tab-header
{
    border-bottom: none;
}

/**To chnage the colour of the ink bar(tab border):**/

.mat-tab-nav-bar:active
{
    color: #00ADEE !important;
}
/** To specify the height && color for the ink bar:**/

.mat-ink-bar{
    background-color: white !important;
    display:block;
    height: 1px !important;
}
